<div id="datatable">
  <h2 id="rowcount"></h2>
  <table id="entrylist" class="sortable">
    [% FOREACH line IN entries %]
      <tr>
        <td>[% line.fname %]</td>
        <td>[% line.lname %]</td>
        <td>[% line.email %]</td>
        <td>[% line.birthdate %]</td>
        <td>[% line.income %]</td>
    [% END %]
  </table>
</div>
