body {
	background: #EEF;
	font-size: 16;
	margin: 5px;
}

header {
	font: arial;
	margin: 0;
}

footer {
	clear: both;
	font-size: 14;
	font-style: italic;
	margin: 0;
}

h1 {
	font-size: 24;
	font-weight: bold;
	color: 080;
	margin: 0;
}

h2 {
	font-size: 16;
	font-weight: bold;
	color: 080;
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

ul li {
	list-style-type: none;
	margin: 0;
}

.left {
	float: left;
	padding-right: 5px;
	margin: 0;
}

.right {
	overflow: hidden;
	margin: 0;
}
