/* -- UTILITIES -- */
.text.large {
	font-size: 42px;
}

.text.medium {
	font-size: 24px;
}

.text.small {
	font-size: 14px;
}

.padding.large {
	padding: 50px;
}

.padding.medium {
	padding: 0.8rem 0.4rem;
}

.padding.small {
	padding: 0.8rem 0.4rem;
}

.bordered {
	border-style: solid;
	border-width: 3px;
}

/* STANDARD */
body {
	position: relative;
	padding-bottom: 1rem;
	background: #EEF;
	margin: 0;
}

header {
	background: #AAF;
	margin: 0;
}

h1, h2 {
	margin: 0;
}

footer {
	font-style: italic;
	text-align: center;
	padding-top: 1rem;
}

/* -- FORM LIST */
#formlist {
	overflow: hidden;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 0;
	display: inline-block;
	font-size: 24px;
}

.ui.input input {
	min-width: 100%;
}

/* -- DATATABLE */
.scrollable {
	overflow-y: scroll;
	height: 495px;
}

.ui.table thead th {
	border: 0px solid #000;
	border-bottom: 3px solid #000;
	text-align: center;
	margin: 0;
}

.ui.table tbody tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.ui.table tbody tr td {
	text-align: right;
	border-bottom: 0px solid #000;
	border-right: 0px solid #000;
	margin: 0;
}

.ui.table tbody tr:nth-child(2n) {
	background-color: #BBB;
}

.ui.table tbody tr:hover {
	background-color: red;
}

.ui.table thead th.descend:after {
	display: inline;
	content: "\25BC";
}

.ui.table thead th.ascend:after {
	display: inline;
	content: "\25B2";
}

/* -- PIE CHART -- */

/* -- BAR CHART -- */

/* -- SUPER -- */

/* -- SEMANTIC UI TWEAKS -- */
.ui.header {
	margin: 0;
}

.ui.card {
	margin-bottom: 0;
}
