.text.large {
	font-size: 42px;
}

.text.medium {
	font-size: 24px;
}

.text.small {
	font-size: 14px;
}

.padding.large {
	padding: 50px;
}

.padding.medium {
	padding: 0.8rem 0.4rem;
}

.padding.small {
	padding: 0.8rem 0.4rem;
}

.bordered {
	border-style: solid;
	border-width: 3px;
}

body {
	background: #EEF;
	margin: 0;
}

header {
	background: #AAF;
	margin: 0;
}

.ui.header {
	margin: 0;
}

h1, h2 {
	margin: 0;
}

footer {
	font-style: italic;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #FFA;
	margin: 0;
}

#formlist {
	overflow: hidden;
	margin-top: 15px;
	margin-right: 15px;
	display: inline-block;
	font-size: 24px;
}

.innerformlist {
	overflow: hidden;
}

.formlistLeft {
	float: left;
	text-align: left;
	margin-right: 10px;
	margin-top: 25px;
	margin-left: 15px;
}

.formlistRight {
	float: right;
	text-align: right;
	margin-top: 15px;
	margin-right: 15px;
}

.ui.form input[type="email"],
.ui.form input[type="text"],
.ui.form input[type="date"],
.ui.form input[type="number"]
{
	width: 300px;
}

.formlistRight button {
	margin-bottom: 15px;
}

#datatable{
	display: inline-block;
	margin-top: 15px;
}

table thead tr th {
	border: 1px solid #000;
	border-bottom: 3px solid #000;
	margin: 0;
}

.scrollable {
	overflow-y: scroll;
	height: 400px;
}

table tbody tr {
	padding: 0;
	margin: 0;
}

table tbody tr:hover {
	background-color: red;
}

table tbody tr td {
	text-align: right;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0;
}

table tbody tr td:nth-child(2n) {
	background-color: #888;
}

table tbody tr:hover td:nth-child(2n) {
	background-color: inherit;
}

.sortable th.descend:after {
	content: "\25B2";
}
.sortable th.ascend:after {
	content: "\25BC";
}

.superleft {
	float: left;
}

.superright {
	float: left;
}

.super {
	display: table;
	margin-right: auto;
	margin-left: auto;
}


